body {
    background-image: url(Image/Chinese\ Restuarant\ food.001Z.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


h1 {
    background-color: rgba(0, 0, 0, 0.623);
    color: lightgreen;
    text-align: center;
    width: 800px;
    margin: auto;
    padding: 40px;
    font-size: 40px;
    font-family: tahoma;
}

li {
    background-color:coral;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: 20px;
    text-decoration: none;
    
}

.CR7 {
    margin-left: 1500px;
    margin-top: 20px;
    position: absolute;
    top: 20px;
}
.Menu1 {
    background-color: rgba(2, 2, 2, 0.61);
    width: 400px;
    height: 500px;
}
.Menu2 {
    background-color: rgba(0, 0, 0, 0.651);
    width: 400px;
    height: 500px;
}
.Menu3 {
    background-color: rgba(0, 0, 0, 0.541);
    width: 400px;
    height: 500px;
}
.Menu {
    display: flex;
    width: 1200px;
    position: absolute;
    left: 45%;
    bottom:30%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    color: lightgreen;
}
.green {
    background-color: green;
    width:20px ;
    height: 50px;
}
.red {
    background-color: red;
    width:30px ;
    height: 50px
}
.flag{
    position: absolute;
    display: flex;
}