h1{
    color:blue;
    font-size: 32px;
    text-align: center;
}
.pet{
    color: yellow;
    font-weight: 20px;
}
#dave{
    background-color: navajowhite;
    color: black;
    font-style: italic;
    padding:20px
}
.body{
    background-color: lightpink;
    background-image: url(image/21593.jpg);
    background-size: cover;/* to cover,contain or specific size */
    background-position: center;/* center,top,bottom,left,right */
    background-repeat: no-repeat;/* repeat,repeat-x,repeat-y,*/
    background-attachment: fixed;/* scroll, fixed  */
}
.dog{
    border-color: brown;
    border-width: 2px;
    border-style: solid;
    border-top: 10px solid red;
    border-right:5px dashed blue ;
    border-bottom: 10px dotted green;
    border-left: 5px double purple;
}
/*.border-radius{
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
}*/
.rounded{
border-radius: 10px; /* All corners */
border-width: 30px;
} 
.circle{
    border-radius: 50%; /*makes square element circular*/
    border-width: 20px;
}
.custom{
    border-radius: 10px 20px 30px 40px; /*top-left, top-right, bottom-right, bottom-left*/
    border-width: 40px;
}

