 .love{ 
  font-family: 'Tangerine', serif;
  font-size: 48px;
  font-weight: 600px;
  text-shadow: 4px 4px 4px #aaa;
}

h1{
    color:blue;
    font-size: 32px;
    text-align: center; /*left, right, center, justify*/
    text-decoration: underline; /*none, underline, overline, line-through*/
    text-transform: uppercase; /*uppercase, lowercase, capitalize*/
    letter-spacing: 2px; /*space between letter*/
    word-spacing: 5px; /*space between words*/
    text-shadow: 2px 2px 4px; /* horizotal-offset vertical-offset blur-radius color*/
}
.pet{
    color: yellow;
    font-weight: 20px;
}
#dave{
    background-color: navajowhite;
    color: black;
    font-style: italic;
    padding:20px
}
.boy{
    background-color: lightpink;
    background-image: url(image/21593.jpg);
    background-size: cover;/* to cover,contain or specific size */
    background-position: center;/* center,top,bottom,left,right */
    background-repeat: no-repeat;/* repeat,repeat-x,repeat-y,*/
    background-attachment: fixed;/* scroll, fixed  */
}
.dog{
    border-color: brown;
    border-width: 2px;
    border-style: solid;
    border-top: 10px solid red;
    border-right:5px dashed blue ;
    border-bottom: 10px dotted green;
    border-left: 5px double purple;
}
/*.border-radius{
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
}*/
.rounded{
   border: 2px solid red;
   border-radius: 10px; /* All corners */
   border-width: 10px;
} 
.circle{
    border: 2px solid green;
    border-radius: 50%; /*makes square element circular*/
    border-width: 20px;
}
.custom{
    border: 2px solid lightcoral;
    border-radius: 10px 20px 30px 40px; /*top-left, top-right, bottom-right, bottom-left*/
    border-width: 30px;
}

