#portfolio{
    background-color: lightgray;
    display: grid;
    width: 300px;
    gap:30px;
    padding: 40px;
}

.project-card{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
}

#portfolio img{
width: 100%;
}

#portfolio .card-featured img{
    height: 400px;
    grid-column: span 2;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

#portfolio .project-card img{
    height: 250px;

}




