#portfolio{
    background-color: lightgray;
    display: grid;
    grid-column: span 2;
    width: 300px;
    gap:30px;
    padding: 40px;
}

.project-card{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
}

#portfolio img{
width: 100%;
}

#portfolio .card-featured img{
    height: 250px;
    grid-column: span 2;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

#portfolio .project-card img{
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}
#protfolio h3{
    margin-bottom: 10px;
}
#portfolio p{
    font-size: 16px;
    color:#666;
    line-height: 1.5;
}

#portfolio .btn{
    background-color: #007bff;
    color:white;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin-top: auto;
}

#portfolio .btn:hover{
    background-color: #0056b3;
}

/* product card design */
.product-card{
    background-color: white;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.1);
    transition: 0.3s;
}
.product-card:hover{
    box-shadow: 0 4px 16px rgb(0, 0, 0, 0.2);
    translate: y(10px);
    rotate: 2deg;
}
.product-card .image-container{
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    transition: 0.3s ease;
}
.product-card .image-container img:hover{
    scale: 110%;
}
.product-card .badge{
    position: absolute;
    background-color: red;
    animation-duration: 2s;
    animation-name: pulse;
    animation: iteration count 3px;;
}
.product-card .add-to-cart{
    background-color: #007bff;
    padding: 12px 24px;
    border-radius: 5px;
    transition: all 0.3s;
}
.product-card .add-to-cart:hover{
    background-color: #0056b3;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
    
    
    






