.CR7{ background-color: brown;
    color: wheat;
    font-size: 20px;
    border: 2px solid black;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
}
button{
    background-color: wheat;
    color: black;
    margin-left: 30px;
}
button:hover{
    background-color: cadetblue;
}




