#container{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    padding: 40px;
}

.card{
    background-color: wheat;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);

}
.pet{
    font-size: 16px;
    height: 1.6;;
}