body{background-color:#4caf50 ;
     color:white ;
    font-size: 16px;
    font-weight: bold;
    border: 5px solid burlywood;
    padding: 15px 30px;
    margin: 15px;
    border-radius: 10px;

}

.boy:hover{
    background-color: #800000;
}
